@import "_embedded.css";
@import "_fragments.css";
@import "index.css";
@import "layout.css";
@import "navigation.css";


/******** Fonts ********/

/* Import ET Book styles adapted from 
    https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/******** Core typography ********/

/* Adapted from Tufte CSS style 
    https://github.com/edwardtufte/tufte-css/blob/gh-pages/tufte.css*/

html {
    font-size: 15px;
}

body {
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h1 {
    font-weight: 400;
    margin-top: 0rem;
    margin-bottom: 2.2rem;
    font-size: 2.8rem; /*3.2rem;*/
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

.numeral {
    font-family: et-book-roman-old-style;
}

section {
    padding-top: 0.5rem; /*1rem;*/
    padding-bottom: 0.5rem; /*1rem;*/
}

p,
dl,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
    text-align: justify;
    hyphens: auto;
}


/******** Links ********/

section a {
    color: inherit;
    text-underline-offset: 0.1em; 
    text-decoration-thickness: 0.05em;
    text-decoration-color: var(--vakio-color-subtle);
}
section a:hover {
    text-decoration-color: black;
}

/* Relative links */
section a:not([href^="https://"]):not([class]) {
    text-decoration-style: dotted;
}
section a:not([href^="https://"]):not([class]):hover {
    text-decoration-style: solid;
}

/* Absolute links */
section a[href^="https://"]:not([class]) {
    text-decoration-style: solid;
}


/******** List ********/

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

/*
ol li::marker {
  font-family: var(--verso-text-font-family);
}
*/

/******** Marginalia ********/

.marginalia .note {
    font-size: 1.1rem;
    line-height: 1.3;
    text-align: initial;
}

.marginalia .note::before,
.marginalia::after {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

.marginalia .note::before {
    content: counter(margin-note-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

.marginalia::after {
    content: counter(margin-note-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.marginalia:hover, .marginalia:hover .note, .marginalia:has(.note:hover) {
    background-color: var(--lean-accent-light-blue);
}

body {
    counter-reset: margin-note-counter;
}

.marginalia .note {
    counter-increment: margin-note-counter;
}


/******** Code ********/

root {
    --verso-code-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.hl.lean {
    font-size: 1rem;
    line-height: 1.42;
}


code, pre > code {
    font-size: 1rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.marginalia .note > code {
    font-size: 1rem;
}

.hl.lean.block {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.75em;
}

/* Code pills 
pre,
code {
    background: var(--vakio-color-mantle);
    padding: 0.1em 0.2em;
    border-radius: 4px;
}
*/

.lean-output {
    overflow-x: auto;
    margin: 0px;
    margin: 0.5em .85em;
    border-left: 0.2em solid red;
    padding: 0 0.45em;
}

/* Different color for warning */
.lean-output.warning {
    border-color: var(--verso-warning-color);
}

/* Different color for information */
.lean-output.information {
    border-color: #0000c0;
}

/* TODO: fix upstream */
.hl.lean code {
    font-family: var(--verso-code-font-family) !important;
}

/* Hoverable Lean names */
span[data-tippy-theme="lean"] {
    cursor: pointer;
}
label[for^="tactic-state-"]::after {
    cursor: pointer;
}

span[data-binding^="kw-occ-tactic"],
span[data-binding^="kw-occ-Lean.Parser.Tactic."]
{
    font-weight: normal !important;
}



.hl.lean .hover-info.messages {
    padding: 0;
}


/* Comments in code */
code.lean span.inter-text {
    color: var(--vakio-color-comment);
}

.hover-info * {
    font-size: var(--verso-font-size); 
    line-height: normal;
}

/******** Blockquote ********/

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    margin-right: 40px;
}

blockquote footer {
    font-size: 1.1rem;
    text-align: right;
}


/******** Figure ********/

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 80%;
}


/******** Colors ********/
:root {
    --vakio-color-text: #000000;
    --vakio-color-labels: #484848;
    --vakio-color-params: #0f5801;
    --vakio-color-escapes: #025258;
    --vakio-color-functions: #002dbd;
    --vakio-color-operators: #1b5dff;
    --vakio-color-keywords: #76017a;
    --vakio-color-classes: #8b010c;
    --vakio-color-subtle: #8f8f8f;
    --vakio-color-comments: #717171;
    --vakio-color-strings: #1d8902;
    --vakio-color-info: #008189;
    --vakio-color-constants: #9335df;
    --vakio-color-cursor: #c6048e;
    --vakio-color-errors: #d50118;
    --vakio-color-base: #ffffff;
    --vakio-color-mantle: #f6f5f4;
    --vakio-color-crust: #deddda;
    --vakio-color-surface0: #cdcdcd;
    --vakio-color-surface1: #bdbdbd;
    --vakio-color-surface2: #adadad;
    --vakio-color-overlay0: #9e9e9e;
    --vakio-color-subtext1: #161616;
    
    --verso-burger-toc-visible-color: var(--vakio-color-surface0);
    --verso-burger-toc-hidden-color: var(--vakio-color-surface0);
}

/******** TODO ********/

/* Hide the first code block on each page */
div.content-wrapper>section:first-of-type>code.block:first-of-type {
    display: none;
}
