/* Formatting of lean code */
@import "lean.css";
/* Hiding of elements that we don't use */
@import "hidden.css";
/* Dynamic layout for body text, margin notes, and toc */
@import "layout.css";
/* Typography of body text */
@import "main.css";
/* Typography of margin notes */
@import "marginalia.css";
/* Typography of table of contents */
@import "toc.css";
/* Typography of previous and next buttons */
@import "prev-next-buttons.css";
/* Typography of title page */
@import "title-page.css";
/* Typography of index page */
@import "index.css";
/* Color palette */
@import "vakio-colors.css";
/* Fonts */
@import "fonts.css";


/*
TODO Fix search bar
*/

#search-wrapper {
    visibility: hidden;
}

/*
:root {
    --search-bar-width: calc(var(--marginparwidth) - (var(--verso-burger-width) + 3rem)) !important;
}

#search-wrapper * {
    font-size: 14px;
    line-height: normal;
    font-family: var(--verso-text-font-family);
}
*/
