:root {
    --verso-burger-height: 1rem;
    --verso-burger-width: 1.25rem;
}

#toggle-toc-click {
    --verso-burger-line-width: 0.2rem;
    --verso-burger-line-radius: 0.2rem;
    --verso-burger-transition-time: 0.4s;
}

#toggle-toc-click {
    display: inline-flex;
    cursor: pointer;
    box-sizing: content-box;
    width: var(--verso-burger-width);
    height: var(--verso-burger-height);
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 100; /* Show on top of ToC/content */
    right: 0;
    top: 0;
    background: white;
    box-shadow: 0 0 2px 2px white;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 2px;
    padding-bottom: 2px;
    transition:
        height var(--verso-burger-transition-time) ease-in-out,
        width var(--verso-burger-transition-time) ease-in-out;
}

#toggle-toc-click .line {
    display: block;
    position: relative;
    width: 100%;
    height: var(--verso-burger-line-width);
    border-radius: var(--verso-burger-line-radius);
    background-color: var(--vakio-color-surface0);
    transition:
        background-color var(--verso-burger-transition-time) ease-in-out,
        height var(--verso-burger-transition-time) ease-in-out,
        width var(--verso-burger-transition-time) ease-in-out,
        transform var(--verso-burger-transition-time) ease-in-out;
    z-index: 15;
}
#toggle-toc-click:hover .line {
    background-color: black;
}

body:has(#toggle-toc:checked) #toggle-toc-click .line1 {
    transform:
        translateY(calc(calc(var(--verso-burger-height) - var(--verso-burger-line-width)) / 2))
        rotate(45deg);
}
body:has(#toggle-toc:checked) #toggle-toc-click .line2 {
    transform: scaleX(0);
}
body:has(#toggle-toc:checked) #toggle-toc-click .line3 {
    transform:
        translateY(calc(-1 * calc(calc(var(--verso-burger-height) - var(--verso-burger-line-width)) / 2)))
        rotate(-45deg);
}
