.theIndex a {
    text-decoration: none;
    font-family: var(--verso-code-font-family);
    font-size: 1rem;
}

.theIndex ol {
    margin: 0;
    list-style-type: none;
}

.theIndex h2,
.theIndex nav
{
    display: none;
}
