/* 
Code lines should be no longer than 60 characters. 
This gives the _primary width_: 61ch in monospace.
*/    
.hl.lean.block {
    width: 61ch;
}
/* 
We use terminology from LaTeX, see e.g. Figure 1 of 

https://mirrors.ctan.org/macros/latex/contrib/geometry/geometry.pdf
*/
:root {
    /* textwidth should be slightly larger than the primary width */
    --textwidth: 37rem;
    --marginparwidth: 17rem;
    --marginparsep: 3.5rem;

    --topmargin: 4.5rem;
}
/*
The above widths work well with Bootstrap's breakpoint widths

https://getbootstrap.com/docs/5.0/layout/breakpoints/

There is room for notes in the margin as long viewport width is 
greater than large breakpoint. Below this, notes within the body text.
While the notes are floats in this case, on clear lanes in the sense 
that there is no body text next to them.

The main containers of the layout are as follows: 

* .content-wrapper contains the body text and margin notes 
* #toc contains the table of contents
* .with-toc contains both .content-wrapper and #toc

Margin notes have four layers of wrappers. These are from parents to 
children: 

* marginalia positions the note number in the body text
* note-wrapper clears the lane below large breakpoint
* note-number positions the number before the actual note
* note positions the note itself

Container .with-toc reserves space for the margin and centers the body 
text and margin notes above large breakpoint. The margin space is 
shared by the notes and toc above large breakpoint. When #toggle-toc 
is checked #toc is shown, otherwise notes are shown. The burger 
toggles the checkbox. Below large breakpoint, #toc becomes modal in 
the sense that the body text is shaded by .toc-backdrop when #toc is 
shown. The notes are always shown below large breakpoint. 

Container .content-wrapper enforces fixed width of the body text. 
Below large breakpoint it centers the body text. The centering is 
ajusted below Medium breakpoint. 

*/
.content-wrapper {
    width: var(--textwidth);
}

#toc {
    display: none;
}
#toc:has(#toggle-toc:checked) {
    width: var(--marginparwidth);
    position: fixed;
    top: 0;
    right: 0;

    overflow-y: auto;
    height: 100dvh;
    direction: rtl; /* scrollbar on left (if browser supports)  */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    background: white;
}
#toc .first {
    direction: ltr; /* undo rtl */
    border-left: 1px solid var(--vakio-color-surface0);
}

.with-toc {
    position: relative;
    max-width: calc(var(--textwidth) + var(--marginparwidth) + var(--marginparsep));
    margin-inline: auto;
}

.marginalia .note-number {
    float: right;
    clear: right;
    width: var(--marginparwidth);
    margin-right: calc(-1 * (var(--marginparwidth) + var(--marginparsep)));
}

body:has(#toggle-toc:checked) .marginalia .note-number {
    cursor: pointer;
}

body:has(#toggle-toc:checked) .marginalia .note {
    display: none;
}

.marginalia .note-placeholder {
    display: none;
}

body:has(#toggle-toc:checked) .marginalia .note-placeholder {
    display: initial;
    font-size: 1.1rem;
}

.marginalia .note-number .note-bracket {
    color: var(--vakio-color-subtle);
}
.marginalia .note-number:hover .note-bracket {
    color: black;
}
/*
Large breakpoint should be slightly larger than 

textwidth + marginparwidth + marginparsep
*/
@media (max-width: 992px) {
    /* Margins with nice ratio */
    .content-wrapper {
        margin-inline: auto;
        transform: translateX(-5%);
    }

    #toc:has(#toggle-toc:checked) {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
    }

    body:has(#toggle-toc:checked) .marginalia .note-number {
        cursor: initial;
    }
    body:has(#toggle-toc:checked) .marginalia .note-number::after {
        content: initial;
    }

    body:has(#toggle-toc:checked) .marginalia .note-placeholder {
        display: none;
    }

    .marginalia .note-wrapper {
        width: 100%;
        display: flow-root;
    }

    .marginalia .note-number {
        width: initial;
        max-width: 80%;
        margin: 1rem;
    }

    body:has(#toggle-toc:checked) .marginalia .note {
        display: initial;
    }

    body:has(#toggle-toc:checked) .toc-backdrop {
        position: fixed;
        inset: 0;
        background-color: #aaa4;
        z-index: 9;
    }
    html:has(#toggle-toc:checked) {
        overflow: hidden;
    }
}
/*
Medium breakpoint
*/
@media (max-width: 768px) {
    .content-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        transform: initial;
        margin-inline: auto;
    }
}
/*
Toggling
*/
#toggle-toc-click {
    cursor: pointer;
    position: fixed;
    z-index: 100; 
    right: 0;
    top: 0;
    padding-top: 0.4em;
    padding-left: 0.2em;
    padding-right: 0.4em;
    padding-bottom: 0.4em;

    font-size: 1rem;
    font-family: var(--verso-structure-font-family);
    font-variant-caps: all-small-caps;
    background: var(--vakio-color-mantle);
    writing-mode: vertical-rl;
}

body:has(#toggle-toc:checked) #toggle-toc-click {
    background: white;
}

#toggle-toc-click .line1::before {
    content: "[";
}
#toggle-toc-click .line2::before {
    content: "...";
    letter-spacing: 0.02em;
}
#toggle-toc-click .line3::before {
    content: "]";
}

#toggle-toc-click .line1,
#toggle-toc-click .line3 {
    color: var(--vakio-color-subtle);
}
#toggle-toc-click:hover .line1,
#toggle-toc-click:hover .line3 {
    color: black;
}

body:has(#toggle-toc:checked) #toggle-toc-click .line2::before {
    content: "outline";
    color: var(--vakio-color-subtle);
}

body:has(#toggle-toc:checked) #toggle-toc-click .line1,
body:has(#toggle-toc:checked) #toggle-toc-click .line3 {
    visibility: hidden;
}
body:has(#toggle-toc:checked) #toggle-toc-click:hover .line1,
body:has(#toggle-toc:checked) #toggle-toc-click:hover .line3 {
    visibility: initial;
    color: black;
}
