main {
    font-family: var(--verso-text-font-family);
}

main h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    margin-top: var(--topmargin);
    margin-bottom: 2rem;
    line-height: 1;
}

main h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    line-height: 1;
    scroll-margin-top: 3.5rem;
}

main h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.55rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1;
    scroll-margin-top: 2.5rem;
}

:root{
    --body-text-font-size: 1.25rem;
}

main p,
main dl,
main ol,
main ul {
    font-size: var(--body-text-font-size);
    line-height: 2rem;
}

body {
    margin: 0;
}

main p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
    text-align: justify;
    hyphens: auto;
}

main section a, main section a * {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
    text-decoration-color: var(--vakio-color-subtle);
    text-decoration-style: solid;
    text-decoration-line: underline;
}
main section a:hover, main section a:hover * {
    text-decoration-color: black;
}

/* Relative links */
main section a:not([href^="https://"]) {
    text-decoration-style: dotted;
}
main section a:not([href^="https://"]):hover {
    text-decoration-style: solid;
}
