/* 
Reset counter in main rather than body. KaTeX resets counters in body 
which may cause issues depending on the cascade order.  
*/
main {
    counter-reset: margin-note-counter;
}

.marginalia {
    counter-increment: margin-note-counter;
}

.marginalia .note {
    font-size: 1rem;
}

.marginalia .note-number {
    margin-top: 0.4rem;
    line-height: 1.3rem;
}

.marginalia .note-number::before,
.marginalia::before {
    font-variant-numeric: oldstyle-nums;
    font-size: 1rem;
    top: -0.45rem;
    position: relative;
    vertical-align: baseline;
}

.marginalia .note-number::before {
    padding-right: 0.3em;
    content: counter(margin-note-counter);
}

.marginalia::before {
    content: counter(margin-note-counter);
    left: 0.1rem;
}
