.titlepage h1 {
    font-size: 3.5rem;
}

.titlepage .authors {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    display: block;
    line-height: 1;
}

main:has(.titlepage) .prev-next-buttons .where::before {
    content: "Next "
}

.titlepage .authors .author:only-of-type::after {
    content: "";
}

.titlepage .authors .author:not(:last-of-type)::after {
    content: ", ";
}

.titlepage .authors .author:nth-last-of-type(2)::after {
    content: " and ";
}
