.toc-title h1 {
    font-size: 1rem;
    font-weight: normal;
    font-family: var(--verso-structure-font-family);
    margin-top: var(--topmargin);
    margin-bottom: 1.3rem;
    /* align hover hit box with the rest of the toc */
    display: inline-block; 
}
.toc-title h1:hover {
  text-decoration: underline;
}

#toc .split-toc {
    font-family: var(--verso-structure-font-family);
}

#toc a {
    color: black;
    text-decoration: none;
}
#toc a:hover {
    text-decoration: underline;
}

#toc tr.numbered > td {
  vertical-align: baseline;
}
#toc .title {
  display: flex;
  align-items: baseline;
}

#toc .split-toc td.num,
#toc .split-toc span.number {
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 0.75rem;
    line-height: 1;
    letter-spacing: 0.02em;
}
#toc .split-toc td.num{
    text-align: right;
    padding-inline-end: 0.5rem;
}

#toc .first {
    padding-left: 1rem;
    padding-right: 1.8rem;
}

#toc .split-toc .title {
    display: flex;
    margin-bottom: 0.5rem;
}

#toc .split-toc table {
    border-collapse: collapse;
}

#toc .split-toc td {
    padding: 0;
    padding-inline-end: 0.28em;
    padding-block-end: 0.2em;
}
